# Mixedbread api key
MXBAI_API_KEY = ""

# Milvus Cluster endpoint and Token
ENDPOINT = "http://localhost:19530"
TOKEN = ""
COLLECTION_NAME = "biorxiv"

# How many search results to return?
SEARCH_LIMIT = 11